

<div class="row">    
  <div class="col-sm">  
    <h2>Matches</h2>
    <br/>
    <%= link_to 'Enter New Match', new_match_path, { :class=>"btn btn-primary" } %>
    <br/><br/>
  </div>  
  <div class="col-sm">  
    <%= render 'shared/match_search', get_search:matches_path, clear_search:matches_path %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Start</th>            
      <th>Result</th>      
      <th>End</th>                  
      <th colspan="2"></th>      
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match|  %>
      <tr>
        <%= render 'shared/match_summary', match:match %>      
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Delete', match, method: :delete, :class=>"btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @matches, theme: 'twitter-bootstrap-4' %>
